@font-face {
  font-family: "iconfont";
  /* Project id 5122763 */
  src: url('https://at.alicdn.com/t/c/font_5122763_aexa5w5ozk7.woff2?t=1770860456897') format('woff2'),
    url('https://at.alicdn.com/t/c/font_5122763_aexa5w5ozk7.woff?t=1770860456897') format('woff'),
    url('https://at.alicdn.com/t/c/font_5122763_aexa5w5ozk7.ttf?t=1770860456897') format('truetype'),
    url('https://at.alicdn.com/t/c/font_5122763_aexa5w5ozk7.svg?t=1770860456897#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouxieqianming:before {
  content: "\e748";
}

.icon-wancan:before {
  content: "\e6e7";
}

.icon-wucan:before {
  content: "\e6e8";
}

.icon-lingshi:before {
  content: "\e71f";
}

.icon-wanshang-qing:before {
  content: "\e670";
}

.icon-zaoshang:before {
  content: "\e65d";
}

.icon-zaocan:before {
  content: "\e617";
}

.icon-zaoshang1:before {
  content: "\e64c";
}

.icon-zaocan1:before {
  content: "\10122";
}

.icon--yuyinshuruzhong:before {
  content: "\e60a";
}

.icon-ic_detail:before {
  content: "\e604";
}

.icon-shentinianling:before {
  content: "\e88a";
}

.icon-canciguanli:before {
  content: "\e654";
}

.icon-duoren:before {
  content: "\e71d";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-shiwu:before {
  content: "\e631";
}

.icon-weibiaoti-_huabanfuben:before {
  content: "\e616";
}

.icon-good:before {
  content: "\e62c";
}

.icon-dizhi:before {
  content: "\e6d9";
}

.icon-shangzhang:before {
  content: "\ee32";
}

.icon-shoucang-yishoucang:before {
  content: "\e600";
}

.icon-danbaizhi:before {
  content: "\e62b";
}

.icon-zhifangyouheruhuazhifangzhipin:before {
  content: "\e62a";
}

.icon-tanshui-dabiao:before {
  content: "\e632";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-paizhao-xianxing:before {
  content: "\e8d1";
}

.icon-xingzhuang-wenzi:before {
  content: "\eb99";
}