PORT=
DASHSCOPE_API_KEY=
APPID=
SECRET=
JWT_SECRET_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
TIANDITU_TK=
OFOXAI_API_KEY=
LLM_PROVIDER=
WECHAT_PAY_MCHID=
WECHAT_PAY_NOTIFY_URL=
WECHAT_PAY_SERIAL_NO=
WECHAT_PAY_API_V3_KEY=
WECHAT_PAY_PRIVATE_KEY=
WECHAT_PAY_PUBLIC_KEY=
EXPIRY_SUBSCRIBE_TEMPLATE_ID=
ANALYSIS_SUBSCRIBE_TEMPLATE_ID=
COS_SECRET_ID=
COS_SECRET_KEY=
COS_REGION=
COS_FOOD_IMAGES_BUCKET=
COS_HEALTH_REPORTS_BUCKET=
COS_USER_AVATARS_BUCKET=
COS_ICON_BUCKET=
CDN_FOOD_IMAGES_BASE_URL=
CDN_USER_AVATARS_BASE_URL=
CDN_ICON_BASE_URL=
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=
