@import '../../assets/iconfont/iconfont.css';

.iconfont {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  font-style: normal;
  line-height: 1 !important;
  vertical-align: middle;
}
