.custom-nav-bar {
    position: relative;
    z-index: 100;
    width: 100%;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    &__back {
        position: absolute;
        left: 16rpx;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80rpx;
        z-index: 1;
    }

    &__back-icon {
        font-size: 36rpx;
        font-weight: bold;
    }

    &__title {
        font-size: 34rpx;
        font-weight: 600;
        text-align: center;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}